.blogItemContainer {
    margin-top: 5%;
    width: 30vw;
    color:white;
    font-family: ProximaNovaBold, sans-serif;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
    line-height: 150%;
}

.blogItemThumbnail {
    width: 30vw;    
    height: auto;
    outline: 1px solid white;
    transition: ease-in-out 0.2s;
}

.blogItemThumbnail:hover {
    outline: 1px solid yellow;
    transition: ease-in-out 0.2s;
    filter: brightness(90%)
}

.bFlex {
    font-family: ProximaNova, sans-serif;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2%;    
}

.blogItemContainer:hover {
    transition: all 0.2s;
}