.blogItemContainer {
    margin-top: 5%;
    width: 32.5vw;
    color:white;
    font-family: MCTen, sans-serif;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
    line-height: 150%;
}

.blogItemThumbnail {
    width: 32.5vw;    
    height: auto;
    outline: 3px solid white;
    transition: ease-in-out 0.2s;
}

.blogItemThumbnail:hover {
    outline: 3px solid yellow;
    transition: ease-in-out 0.2s;
    filter: brightness(90%)
}

.bFlex {
    font-family: Minecraftia, sans-serif;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 0% 5% 0%;   
}

.blogItemContainer:hover {
    transition: all 0.2s;
}

@media only screen and (max-width: 768px) {

.blogItemContainer {
    margin-top: 5%;
    width: 90vw;
    color:white;
    font-family: ProximaNovaBold, sans-serif;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
    line-height: 150%;
}

.blogItemThumbnail {
    width: 90vw;    
    height: auto;
    outline: 1px solid white;
    transition: ease-in-out 0.2s;
}

}