.topPostContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.topPost {
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    background-color: #b300b3;
    outline: 1px solid plum
}

.morePosts {
    margin: 3%;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    background-color: #ff9100;
    outline: 1px solid plum
}