.ipButton {
    color: #3b2409;
    cursor: pointer;
    font-family: MCTen, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    z-index: 10;
}

.ip:hover {
    transition-duration: 0.3s;
    box-shadow: 0 0 20px rgba(255, 227, 255, 0.8);
}

.ip {
    outline: 1px solid #ffb86f;
    border-bottom: 5px solid #BB6C00;
    padding: 20px;
    text-align: center;
    background-color: #FF9300;
    font-size: 2.5vw;
    color:white;
    transition-duration: 0.3s;
}

.swap {
    text-align: center;
    width: 100%;
    margin-top: 5%;
    font-family: Minecraftia, sans-serif;
    color: white;
    font-size: 1.3vw;
}

.buttonsContainer{ 
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.discordButton {
    margin-top: 2vh;
    font-family: MCTen, sans-serif;
    display: flex;
    align-self: baseline;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 2.5vw;
}

.discord {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: auto;
    padding: 20px;
    background-color: #5287c4;
    border-bottom: 5px solid #254b76;
    transition-duration: 0.3s;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3), 0px 5px 0px #006C91;
    outline: 1px solid transparent;
}

.discordIcon {
    width: 3vw;
    height: auto;
    margin-right: 1vw;
}

.join {
    margin-top: 5%;
    color: white;
    font-size: 1.5vw;
    text-align: center;
}

.discord:hover {
    transition-duration: 0.3s;
    outline: 1px solid white;
    box-shadow: 0 0 20px rgba(255, 227, 255, 0.3);
}

@media only screen and (max-width: 768px) {

.buttonsContainer{
    margin-bottom: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
    
.discordButton {
    font-size: 10px;
    font-family: ProximaNovaBold, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.ipButton {
    color: #3b2409;
    cursor: pointer;
    font-family: ProximaNovaBold, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    z-index: 10;
}

.ip {
    outline: 1px solid #ffb86f;
    border-bottom: 5px solid #BB6C00;
    padding: 18px;
    text-align: center;
    background-color: #FF9300;
    font-size: 10px;
    color:white;
}

.discord {
    padding: 18px;
    background-color: #7289da;
}

.join {
    margin-top: 10%;
    color: white;
    font-size: 12px;
}

.swap {
    text-align: center;
    width: 100%;
    margin-top: 10%;
    font-family: ProximaNovaBold, sans-serif;
    color: white;
    font-size: 12px;
}

}