.ipButton {
    color: #3b2409;
    cursor: pointer;
    font-family: MCTen, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    z-index: 10;
}

.ip:hover {
    transition-duration: 0.3s;
    box-shadow: 0 0 20px rgba(255, 227, 255, 0.8);
}

.ip {
    outline: 1px solid #ffb86f;
    border-bottom: 5px solid #BB6C00;
    padding: 20px;
    text-align: center;
    background-color: #FF9300;
    font-size: 2.5vw;
    color:white;
    transition-duration: 0.3s;
}

.swap {
    text-align: center;
    width: 100%;
    margin-top: 5%;
    font-family: Minecraftia, sans-serif;
    color: white;
    font-size: 1.3vw;
}

.buttonsContainer{ 
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.discordButton {
    font-family: ProximaNovaBold, sans-serif;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.discord {
    padding: 20px;
    background-color: #7289da;
}

.outline {
    border-bottom: 5px solid #576fc7;
    outline: 1px solid powderblue;
}

.join {
    margin-top: 10%;
    color: white;
    font-size: 16px;
}

.discordButton:hover {
    transition-duration: 0.3s;
    opacity: 0.7;
}

@media only screen and (max-width: 768px) {

.buttonsContainer{
    margin-bottom: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
    
.discordButton {
    font-size: 10px;
    font-family: ProximaNovaBold, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.ipButton {
    color: #3b2409;
    cursor: pointer;
    font-family: ProximaNovaBold, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    z-index: 10;
}

.ip {
    outline: 1px solid #ffb86f;
    border-bottom: 5px solid #BB6C00;
    padding: 18px;
    text-align: center;
    background-color: #FF9300;
    font-size: 10px;
    color:white;
}

.discord {
    padding: 18px;
    background-color: #7289da;
}

.join {
    margin-top: 10%;
    color: white;
    font-size: 12px;
}

.swap {
    text-align: center;
    width: 100%;
    margin-top: 10%;
    font-family: ProximaNovaBold, sans-serif;
    color: white;
    font-size: 12px;
}

}