.logo {
    margin-top: 5%;
    width: 50%;
    height: auto;
}

.logoContainer {
    width: 75vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

@media only screen and (max-width: 768px) {

.logo {
    width: 90vw;
    height: auto;
}

.logoContainer {
    transform: translateY(-5vh);
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

}