.widgetContainer {
    width: 100vw;
    background-color: #070617;
}

.widget {
    width: 100vw;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.render {
    background-image: url("bgRender2.webp");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vw;
    height: auto;
    min-height: 432px;
    z-index: 11;
}

.skin {
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 12;
    width: 50vw;
    height: auto;
}

.teamText {
    width: 50vw;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.personName {
    color: yellow;
    font-size: 2rem;
    font-family: MCTen, sans-serif;
}

.personDescription {
    font-size: 1.2rem;
    color: white;
    font-family: Minecraftia, sans-serif;
    padding: 20px;
}

.titleWrapper {
    padding-top: 2%;
    background-color: #070617;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-family: Minecraftia, sans-serif;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
}

.selectDesktop {
    padding-right: 10%;
    padding-left: 10%;
    padding: 1%;
    width: 75vw;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #070617;
}

.selectMobile {
    display: none;
}

.icon {
    filter: grayscale(1);
    width: 48px;
    height: auto;
    cursor: pointer;
    transition: all 0.5s;
}

.icon:hover {
    filter: grayscale(0);
    transform: scale(1.3, 1.3);
    transition: all 0.5s;
    cursor: pointer;
}

.iconSelected {
    filter: grayscale(0);
    transform: scale(1.3, 1.3);
    transition: all 0.5s;
    cursor: pointer;
}

.arrowsDesktop {
    font-size: 48px;
    color:white;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}

.fa-arrow-left {
    transition-duration: 0.2s;
}

.fa-arrow-right {
    transition-duration: 0.2s;
}

.fa-arrow-left:hover {
    color: #fcdd52;
    transition-duration: 0.2s;
}

.fa-arrow-right:hover {
    transition-duration: 0.2s;
    color: #3DCAFF;
}


.arrowsMobile {
    display: none;
}

.meet {
    font-size: 3vw;
    font-family: MCTen, sans-serif;
    color: white;
}

.users {
    width: 3vw;
    height: auto;
    transform: translateY(10px);
}

.mobileArrows {
    display: none;
}

@media only screen and (max-width: 1080px) {

.widget {
    width: 100vw;
    z-index: 10;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.meet {
    font-size: 2.5em;
}

.subtitle {
    text-align: center;
    font-family: ProximaNova, sans-serif;
    font-size: 1em;
    color: white;
}

.render {
    background-image: url('bgRender2.webp');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: auto;
    min-height: 0;
    z-index: 11;
}

.skin {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 12;
    width: 100vw;
    height: auto;
    min-height: 0;
}

.teamText {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
}

.personName {
    text-align: center;
    font-size: 20px;
    font-family: ProximaNovaBold, sans-serif;
}

.personDescription {
    text-align: center;
    font-size: 16px;
    color: white;
    font-family: ProximaNova, sans-serif;
}

.select {
    margin-bottom: 10vh;
    padding: 1%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #0d0e0f;
}

.icon {
    filter: grayscale(1);
    width: 32px;
    cursor: pointer;
    transition: all 0.5s;
}

.iconSelected {
    filter: grayscale(0);
    width: 38px;
    transform: scale(1.05, 1.05);
    transition: all 0.5s;
    cursor: pointer;
}

.arrowsMobile { 
    font-size: 8vw;
    color:white;
    display: block;
}

.arrowsDesktop {
    display: none;
}

.mobileArrows {
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0e0f;
}

.selectDesktop {
    display: none;
}

.selectMobile {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
}

.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
}

}