.blogPost {
    margin-top: 3%;
    width: 50vw;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 200%;
}

.blogPostThumbnail {
    align-self: center;
    width: 50rem;
    height: auto;
    outline: 1px solid white;
}

.contentImage {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.blogPost p img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50rem;
    height: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}

.blogPost p {
    margin-top: 4%;
    margin-bottom: 4%;
}

.blogPost h2 img {
    transform: translateY(3px);
}

.blogPost blockquote {
    border-left: 3px solid gray;
    padding-left: 20px;
    font-style: italic;
}

.statusPink {
    color: #db57de
}

.statusGreen {
    color: #54f000
}

.statusBlue {
    color: #00bcf0
}

.statusOrange {
    color: #fc9d28
}

.articleTitle {
    margin-top: 5vh;
    color: white;
    font-size: 2vw;
}

.backToBlog, .backToBlog:visited {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: ProximaNovaBold, sans-serif;
    font-size: 1.5rem;
    padding: 1% 3% 1% 3%;
    background-color: #ffaa00;
    color: #533500;
    text-decoration: none;
    transition-duration: 0.2s;
}

.backToBlog:hover{
    background-color: #ffbb33;
    transition-duration: 0.2s;
}

.articleHeader {
    display: flex;
    flex-direction: column;
}

.articleTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.articleContent {
    font-family: 'Montserrat', sans-serif;
    color: lightgray;
    margin-top: 5vh;
    font-size: 1vw;
}

@media only screen and (max-width: 768px) {

.blogPost {
    margin-top: 3%;
    width: 50vw;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    line-height: 200%;
}

.blogPostThumbnail {
    align-self: center;
    width: 80vw;
    height: auto;
    outline: 1px solid white;
}

.contentImage {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.blogPost p img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80vw;
    height: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}

.blogPost p {
    margin-top: 4%;
    margin-bottom: 4%;
}

.blogPost h2 img {
    transform: translateY(3px);
}

.blogPost blockquote {
    border-left: 3px solid gray;
    padding-left: 20px;
    font-style: italic;
}

.statusPink {
    color: #db57de
}

.statusGreen {
    color: #54f000
}

.statusBlue {
    color: #00bcf0
}

.statusOrange {
    color: #fc9d28
}

.articleTitle {
    margin-top: 5vh;
    color: white;
    font-size: 6vw;
}

.backToBlog, .backToBlog:visited {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: MCTen, sans-serif;
    font-size: 8vw;
    padding: 1% 3% 1% 3%;
    background-color: #ffaa00;
    color: #533500;
    text-decoration: none;
    transition-duration: 0.2s;
}

.backToBlog:hover{
    background-color: #ffbb33;
    transition-duration: 0.2s;
}

.articleHeader {
    display: flex;
    flex-direction: column;
}

.articleTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.articleContent {
    font-family: 'Montserrat', sans-serif;
    color: lightgray;
    margin-top: 5vh;
    font-size: 3vw;
}


}
