.bg {
    width: 100%;
    min-height: 600px;
    background-size: cover;
    height: 65vh;
    z-index: -5;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    transition-duration: 2s;
}

.darkened {
    filter: brightness(50%);
    transition-duration: 2s
}