.nav-links li {
    text-align: center;
    flex-wrap: nowrap;
    padding: 1vh 1vw;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.15s;
    outline-offset: -1px;
    outline: 1px solid rgba(0, 0, 0, 0);
}

.permablue {
    background-color: #00d9ff;
    outline: 1px solid rgb(135, 227, 250);
    outline-offset: -1px;
    transition-duration: 0.15s;
}

.permagreen {
    background-color: #00b16a;
    outline: 1px solid limegreen;
    outline-offset: -1px;
    transition-duration: 0.15s;
}

.permapurple {
    background-color: #9900ff;
    outline: 1px solid #ac33fd;
    outline-offset: -1px;
    transition-duration: 0.15s;
}

.purple:hover {
    background-color: #9900ff;
    outline: 1px solid  #ac33fd;
    outline-offset: -1px;
    transition-duration: 0.15s;
}

.blue:hover {
    background-color: #00d9ff;
    outline: 1px solid lightskyblue;
    outline-offset: -1px;
    transition-duration: 0.15s;
}

.green:hover {
    background-color: #00b16a;
    outline: 1px solid limegreen;
    outline-offset: -1px;
    transition-duration: 0.15s;
}

.shop {
    background-color: #FF180C;
    outline: 1px solid rgb(255, 136, 0);
    outline-offset: -1px;
}

nav {
    font-family: ProximaNovaBold, sans-serif;
    width: 45%;
    font-size: 1.5em;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    color: white;
    z-index: 1;
}

.navContainer {
    margin-top: 2vw;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.hamburger {
    display: none;
}

.fa-bars {
    opacity: 0;
}

.fa-times {
    opacity: 0;
}

@media only screen and (max-width: 768px) {

.fa-bars {
    opacity: 1;
}

.fa-times {
    opacity: 1;
}

.hamburger {
    float: left;
    z-index: 50;
    position: absolute;
    color: white;
    font-size: 30px;
    padding: 20px 20px;
    display: block;
    align-self: flex-start;
    cursor: pointer;
    z-index: 101;
}

.nav-links li {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.15s;
    outline-offset: -1px;
    outline: 1px solid rgba(0, 0, 0, 0);
}

nav {
    transform: translateY(25%);
    font-family: ProximaNovaBold, sans-serif;
    width: 100%;
    height: 40%;
    font-size: 1.5em;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 1;
}

.navContainer {
    z-index: 100;
    box-shadow: 0px 0px 40px 50px rgba(0,0,0,0.85);
    position: relative;
    float: left;
    margin: 0;
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
}

ul {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style-type: none;
}

.hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition-duration: 0.3s;
}

.visible {
    opacity: 1;
    transition-duration: 0.3s;
}

}