.nav-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 1vw;
    cursor: pointer;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.15s;
    margin: 2vh 0vh 2vh 0vh;
}

.home {
    outline: 1px solid black;
    background-color: #28daff;
    border-bottom: 4px solid #389fc6;
}

.news {
    outline: 1px solid black;
    background-color: #e18fff;
    border-bottom: 4px solid #c57ddf;
}

.help {
    outline: 1px solid black;
    background-color: #9cff8f;
    border-bottom: 4px solid #7dcc72;
}

.shop {
    outline: 1px solid black;
    background-color: #ff4545;
    border-bottom: 4px solid #df3c3c;
}

.home:hover, .help:hover, .news:hover, .shop:hover {
    outline-color: white;
    transform: translateY(5px);
    box-shadow: 0 0 20px rgba(255, 227, 255, 0.8);
}

.active {
    outline: 1px solid white;
    box-shadow: 0 0 20px rgba(255, 227, 255, 0.8);
}

.navIcon {
    width: 3vw;
    height: auto;
    margin-right: 0.5vw;
    filter: drop-shadow(0 4px 0px rgba(0,0,0,0.3));
}

.navTitle {
    font-size: 3vw;
    transform: translateY(0.5vh);
}

nav {
    font-family: MCTen, sans-serif;
    width: 65%;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: white;
    z-index: 1;
}

.navContainer {
    transform: translateY(-20px);
    outline: 1px solid #b4f0fd;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.35);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.hamburger {
    display: none;
}

.fa-bars {
    opacity: 0;
}

.fa-times {
    opacity: 0;
}

@media only screen and (max-width: 768px) {

.fa-bars {
    opacity: 1;
}

.fa-times {
    opacity: 1;
}

.hamburger {
    float: left;
    z-index: 50;
    position: absolute;
    color: white;
    font-size: 30px;
    padding: 15px 20px;
    display: block;
    align-self: flex-start;
    cursor: pointer;
    z-index: 101;
}

.nav-links li {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.15s;
    outline-offset: -1px;
    outline: 1px solid rgba(0, 0, 0, 0);
}

nav {
    transform: translateY(20px);
    font-family: ProximaNovaBold, sans-serif;
    width: 100%;
    height: 40%;
    font-size: 1.5em;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 1;
}

.navContainer {
    z-index: 100;
    box-shadow: 0px 0px 40px 50px rgba(0,0,0,0.85);
    position: relative;
    float: left;
    margin: 0;
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
}

ul {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style-type: none;
}

.hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition-duration: 0.2s;
}

.visible {
    opacity: 1;
    transition-duration: 0.3s;
}

.shop {
    background-color: rgba(0, 0, 0, 0);
    outline: 0px solid rgb(255, 136, 0);
    outline-offset: -1px;
}

}