.nav-links li {
    vertical-align: center;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
}

.red {
    background-color: #FF180C;
    outline: 1px solid orangered;
    outline-offset: -1px;
}

.red:hover {
    background-color: #fa5249;
}

.permared {
    background-color: #FF180C;
    outline: 1px solid orangered;
    outline-offset: -1px;
}
.permablue {
    background-color: #00A7FF;
    outline: 1px solid lightskyblue;
    outline-offset: -1px;
}
.permaorange {
    background-color: #FF8700;
    outline: 1px solid #ff9f05;
    outline-offset: -1px;
}
.permagreen {
    background-color: #00b16a;
    outline: 1px solid limegreen;
    outline-offset: -1px;
}

.orange:hover {
    background-color: #FF8700;
    outline: 1px solid #ff9f05;
    outline-offset: -1px;
    transition-duration: 0.2s;
}

.blue:hover {
    background-color: #00A7FF;
    outline: 1px solid lightskyblue;
    outline-offset: -1px;
    transition-duration: 0.2s;
}

.green:hover {
    background-color: #00b16a;
    outline: 1px solid limegreen;
    outline-offset: -1px;
    transition-duration: 0.2s;
}

.shop {
    background-color: #FF180C;
    border: 1px solid orange;
}

nav {
    font-family: ProximaNovaBold, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    color: white;
    z-index: 1;
}

ul {
    margin-top: 4%;
    width: 45%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}