.footer {
    padding: 1em;
    font-family: ProximaNovaBold, sans-serif;
    z-index: 20;
    width: 100vw;
    background-color: #e5b754;
}

.flex {
    color: #533500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerButton {
    cursor: pointer;
    display: flex;
    justify-self: left;
    align-items: center;
    transition-duration: 0.5s;
}

.fIp {
    background-color: #2b1b00;
    color: orange;
    padding: 0.6em;
}

.fComing {
    background-color: #2b1b00;
    color: yellow;
    padding: 0.6em;
}

.socials {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-self: right;
    font-size: 1.5em;
}

.socials i {
    padding: 20px;
    transition-duration: 0.5s;
}

.socials a {
    color: #462c00;
}

.socials a:visited {
    color: #462c00;
}

.socials i:hover {
    color: #794d00;
    transition-duration: 0.5s;
}

.footerButton:hover {
    filter: brightness(150%);
    transition-duration: 0.5s;
}

.copy {
    background-color: rgba(0, 0, 0, 0);
    color: #462c00;
    padding: 0.6em;
}

@media only screen and (max-width: 768px) {

.footer {
    margin-top: 5vh;
    padding: 1em;
    font-family: ProximaNovaBold, sans-serif;
    z-index: 20;
    width: 100vw;
    background-color: #FF8F00;
    min-height: 10vw;
}

.footerButton {
    display: none;
}

.socials {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-self: center;
    font-size: 1.5em;
}

.flex {
    color: #533500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
}