.blogGridContainer {
    font-family: ProximaNovaBold, sans-serif;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    justify-self: center;
    flex-wrap: wrap;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.swiper-container {
    width: 70vw;
    height: 50vh;
    margin-bottom: 3vh;
}

.slide {
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 768px) {

.blogGridContainer {
    transform: translateY(-25vh);
    font-family: ProximaNovaBold, sans-serif;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

}