.blogGridContainer {
    font-family: ProximaNovaBold, sans-serif;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    justify-self: center;
    flex-wrap: wrap;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}