@keyframes iconBobbing {
    0%      { transform: translateY(5px) rotate(15deg);}
    50%     { transform: translateY(-5px) rotate(0deg) }
    100%    { transform: translateY(5px) rotate(-15deg)}
  }

.bobTitle {
    color: white;
    font-family: MCTen, sans-serif;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    z-index: 4;
    font-size: 3vw;
}

.star {
    width: 3vw;
    height: auto;
    animation: iconBobbing 1s infinite alternate ease-in-out;
}

.thumbnailContainer {
    background-image: url('thumbnail.webp');
    background-position: center;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 5;
    width: 25vw;
    height: 30vh;
    outline: 3px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
}

.thumbnailContainer:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2), 0 0 10px 10px rgba(255, 255, 255, 0.3);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    transition-duration: 0.2s;
}

.text {
    color:white;
    font-family: Minecraftia, sans-serif;
    line-height: 150%;
    width: 50%;
    font-size: 1vw;
    padding: 10px;    
    justify-self: end;  
    display: flex;
    flex-direction: column;
}

.playerContainer {
    width: 70vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 3;
}

.playerContainerWrapper {
    width: 100vw;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playButton {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Minecraftia, sans-serif;
    color: white;
    font-size: 1.6vw;
}

.playButton i {
    font-size: 100px;
    opacity: 0.9;
    filter: drop-shadow(0 10px 10px rgba(0,0,0,0.3));
}

@media only screen and (max-width: 768px) {

.playerContainer {
    margin-top: 3%;
    width: 100vw;
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
}

.text {
    color:white;
    width: 100%;
    font-family: ProximaNova, sans-serif;
    font-size: 1em;
    line-height: 170%;
    text-align: center;
}

.bobTitle {
    color: white;
    font-family: ProximaNovaBold, sans-serif;
    letter-spacing: 2px;
    font-size: 28px;
}

.thumbnailContainer {
    background: url('thumbnail.jpg');
    background-position: center;
    background-size: cover;
    z-index: 5;
    width: 90vw;
    height: 30vh;
    outline: 3px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
}

}