@keyframes iconBobbing {
    0%      { transform: translateY(5px) rotate(15deg);}
    50%     { transform: translateY(-5px) rotate(0deg) }
    100%    { transform: translateY(5px) rotate(-15deg)}
  }

.bobTitle {
    color: white;
    font-family: MCTen, sans-serif;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    z-index: 4;
    font-size: 3vw;
}

.float {
    width: 3vw;
    height: auto;
    animation: iconBobbing 1s infinite alternate ease-in-out;
}

.thumbnailContainer {
    background-image: url('thumbnail.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 5;
    width: 27.5vw;
    height: 30vh;
    outline: 3px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
}

.thumbnailContainer:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2), 0 0 10px 10px rgba(255, 255, 255, 0.3);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    transition-duration: 0.2s;
}

.text {
    color:white;
    font-family: Minecraftia, sans-serif;
    line-height: 150%;
    width: 50%;
    font-size: 1vw;
    padding: 10px;    
    justify-self: end;  
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.playerContainer {
    width: 70vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 3;
}

.playerContainerWrapper {
    width: 100vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playButton {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Minecraftia, sans-serif;
    color: white;
    font-size: 1.6vw;
}

.fa-play-circle {
    font-size: 5vw;
}

.playerAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.watchMore {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55e900;
    border: 3px solid white;
    text-decoration: none;
    transition-duration: 0.3s;
}

.watchMore:hover {
    background-color: #ff002a;
    transition-duration: 0.3s;
}

.watchText {
    font-family: MCTen, sans-serif;
    color: white;
    font-size: 3vw;
    transform: translateY(0.5vh);
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 0.5vw;
}

.youtubeIcon {
    width: 3.5vw;
    height: auto;
    filter: brightness(1000%) drop-shadow(0px 3px 0px rgba(0, 0, 0, 0.3));
    margin-left: 0.5vw;
}

.welcome {
    color: white;
    font-family: MCTen, sans-serif;
    font-size: 2vw;
    margin-bottom: 2vh;
}

.spanblue {
    color: #5cb6ff;
}

.spanyellow {
    color: #ffd607;
}

@media only screen and (max-width: 768px) {

.playerContainer {
    margin-top: 3%;
    width: 100vw;
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
}

.text {
    color:white;
    width: 100%;
    font-family: Minecraftia, sans-serif;
    font-size: 4vw;
    line-height: 170%;
    text-align: center;
}

.bobTitle {
    color: white;
    font-family: MCTen, sans-serif;
    letter-spacing: 2px;
    font-size: 10vw;
}

.float {
    width: 8vw;
    height: auto;
    animation: iconBobbing 1s infinite alternate ease-in-out;
}

.welcome {
    color: white;
    font-family: MCTen, sans-serif;
    font-size: 8vw;
}

.watchText {
    font-family: MCTen, sans-serif;
    color: white;
    font-size: 8vw;
    transform: translateY(0.5vh);
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 3vw;
}

.youtubeIcon {
    width: 8vw;
    height: auto;
    filter: brightness(1000%) drop-shadow(0px 3px 0px rgba(0, 0, 0, 0.3));
    margin-left: 3vw;
}


.thumbnailContainer {
    background: url('thumbnail.jpg');
    background-position: center;
    background-size: cover;
    z-index: 5;
    width: 90vw;
    height: 25vh;
    outline: 3px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
}

}