* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centerer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition-duration: 0.3s;
    background-color: rgba(229, 183, 82, 0);
}

.gradiented {
    transition-duration: 0.3s;
    background-color: #e5b754;
}