@font-face {
    font-family: 'Minecraftia';
    src:local('Minecraftia'), url("./font/Minecraftia-Regular.ttf");
}
@font-face {
    font-family: 'MCTen';
    src:local('MCTen'), url("./font/MinecraftTen-VGORe.ttf");
}

::-webkit-scrollbar {   
    display: none;
  } 

* {
    -ms-overflow-style: none;
    -webkit-tap-highlight-color: transparent;
}